.column {
    background-color: #131313;
    padding: 10px;
    margin: 10px;
    border-radius: 0.5em;
    width: 250px;
    display: inline-block;
    vertical-align: top;
  }
  
  .task {
    background-color: black;
    border-radius: 0.5em;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .add-quest-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 8px 12px;
    background-color: #131313;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .add-quest-button:hover {
    background-color: #545454;
  }