.custom-navlink {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
}

.custom-navlink.active {
  border-bottom: 0.3rem solid var(--nav-link-color);
  color: var(--secondary-color);
}

.custom-navlink:hover {
  background-color: var(--nav-link-color);
  color: var(--secondary-color);
}

.custom-navbar {
  z-index: 1030;
  padding: 0;
  background-color: var(--nav-background-color);
}

.custom-navbar-icon {
  margin-right: 1.5rem;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  stroke-width: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.custom-popover {
  z-index: 1020;
  left:-0.7em !important;
  color: white !important;
  background-color: #181a1b;
}

.custom-popover *{
  color: white;
}

.custom-dropdown {
  top: 2rem !important;
  width: 20vw;
  border-radius: 0.5rem;
  border: thin solid white;
  background-color: #181a1b;
}

.custom-dropdown *{
  color: white;
}

.profile-section {
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  height: 33vh;
  background-color: var(--profile-section-color);
}

.avatar {
  width: 11rem;
  border: medium solid greenyellow;
}

.stat {
  width: 14rem;
  margin-left: 1rem;
}

.player-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.glowing-border {
  border: 1px solid #4195fc; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}

.player-progress-bar {
  margin: 0.3rem;
  background-color: rgb(60, 60, 60); /* Change this to a complementary color if needed */
}

.player-progress {
  background-color: rgb(0, 0, 0); /* Change this to a complementary color if needed */
  color: rgb(229, 51, 161);
  font-weight: bold;
  font-size: 0.8rem;
}

.player-progress::after {
  background-color: rgb(0, 0, 0); /* Change this to a complementary color if needed */
}

.custom-toast-container { 
  position: absolute;
  top:50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.toast.fade-out {
  animation: fadeOut 4s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

